body[data-bs-theme="light"] .bg-gradient {
    background: var(--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)));
}

.bg-gradient {
    background: var(--bs-gradient);
}

body[data-bs-theme="dark"] .bg-gradient {
}

.nav-link {
    color: var(--bs-emphasis-color);
}

.nav-link:hover {
    color: var(--bs-secondary-color);
}