html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.text-bg-black {
  color: white;
  background-color: black;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.sticky-title,
.sticky-border {
  z-index: 1030;
}

.full-screen-offcanvas {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.popover {
  border-width: 0.5px !important;
  border-color: var(--bs-popover-border-color) !important;
}

.popover-body {
  border-bottom-left-radius: var(--bs-popover-border-radius);
  border-bottom-right-radius: var(--bs-popover-border-radius);
}

.popover {
  z-index: 1020;
}
